.accurate-skins label {
	font-size: 30px;
	cursor: pointer;
}

.accurate-skins .option-line {
	display: block;
}

.texture-generation-state {
	font-size: 2em;
	user-select: none;
}

.texture-generation-state.success {
	color: #abce4e;
}

.texture-generation-state.failure {
	color: #bd4847;
}

.texture-generation-state.waiting {
	color: #5aa9d6;
}

.weapon-selector {
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 1.5em;
	pointer-events: all;
}

.steam-select {
	background-color: #121A24;
}

.canvas-container {
	/*background-color: #121A24;*/
	height: 500px;
	position: relative;
	width: 100%;
}

#listings:fullscreen {
	background-color: #1B2838;
	display: flex;
}

.steamonsteroids-market-fullscreen-per-page :fullscreen .canvas-container {
	width: 900px;
}

.steamonsteroids-market-fullscreen-per-listing :fullscreen .canvas-container {
	width: 100%;
	height: 100%;
}

:fullscreen .market_listing_table_header,
:fullscreen .market_large_tab_well,
:fullscreen .market_listing_filter,
:fullscreen #market_buyorder_info,
:fullscreen .resultsbluebg {
	display: none;
}

:fullscreen #searchResultsTable {
	display: flex;
	flex-direction: column;
	width: 100%;
}

:fullscreen #searchResults_ctn {
	flex: 0;
}

:fullscreen #searchResultsRows {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 100%;
	overflow: auto;
	background-color: #1B2838;
	gap: 0.5rem;
	width: 100%;
}

.canvas-container>canvas {
	width: 100%;
}

.market_listing_row:fullscreen {
	background-color: #16202d;
}

:fullscreen .market-listing-canvas {
	height: calc(100% - 74px);
}

.market-listing-canvas>canvas {
	width: 100%;
}

canvas:focus {
	outline: none;
}

.canvas-container-controls {
	pointer-events: none;
}

.favorite-button svg {
	width: 2rem;
	height: 2rem;
	cursor: pointer;
}

.exit-fullscreen-button {
	display: none;
}

:fullscreen .fullscreen-button {
	display: none;
}

:fullscreen .exit-fullscreen-button {
	display: block;
}

.favorited-market-listing {
	border: 2px solid #c3a700 !important;
}

.favorited-market-listing .favorite-button,
.as-favorited-inventory-listing .favorite-button {
	color: #c3a700;
}

.favorited-market-listing .unfavorite-button,
.as-favorited-inventory-listing .unfavorite-button {
	display: unset;
}

.as-inventory-selected-item {
	background-color: royalblue;
}

.as-favorited-inventory-listing>div {
	background-color: rgb(235 127 20) !important;
	background-image: unset !important;
}

.canvas-container-item-info {
	position: absolute;
	bottom: 0px;
	font-size: 1.5em;
}

.canvas-container-controls-class-icons {
	position: absolute;
	bottom: 20px;
}

.canvas-container-controls-class-icon {
	pointer-events: all;
	height: 48px;
	width: 48px;
	background-size: 100%;
	cursor: pointer;
	filter: invert(70%);
}

.canvas-container-controls-class-icon>svg {
	width: 100%;
	height: 100%;
}

.canvas-container-controls-playpause {
	pointer-events: all;
	position: absolute;
	bottom: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-size: 35px;
	background-position: center;
	background-color: #00000000;
	border: 0px solid;
	cursor: pointer;
	color: white;
}

.canvas-container-controls-playpause svg {
	height: 100%;
	width: 100%;
}

.canvas-container-toolbar {
	position: absolute;
	top: 25px;
	right: 0px;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.button {
	width: 100%;
}
